/* .container {
    display: flex;
    flex-direction: row;
}
 */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-auto-rows: auto;
    
    gap: 10px;
    flex-grow: 1;
/*     width: 1000px; */
}

@media screen and (max-width: 1550px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1300px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 960px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}
