.container{
    color: white;
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);

    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija el fondo para que no se desplace con el contenido */
}

.container img {
    max-width: 500px;
    max-height: 400px;
}

.loading {
    position: absolute;
    top: 40%;
    /* Lleva el elemento al 50% de la altura de su contenedor principal */
    left: 50%;
    /* Lleva el elemento al 50% del ancho de su contenedor principal */
    transform: translate(-50%, -50%);
    /* Lo centra completamente en el medio */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    /* Agrega un espacio alrededor del contenido de carga */
    background-color: transparent;
}


.container p{
    max-width: 500px;
    margin-top: 80px;
    
}